@page
@model ComputerFirm.Pages.FilReq.Request.ListComponentModel
@{
}
<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">@Html.DisplayNameFor(ModelItem => Model.Component[0].Brand)</th>
            <th scope="col">@Html.DisplayNameFor(ModelItem => Model.TypesofСomponent[0].NameTypesofComponents)</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Component)
        {
            <tr>
                <td>@Html.DisplayFor(ModelItem => item.Brand)</td>
                <td>
                    @{
                        try
                        {
                            @Model.TypesofСomponent.First(p => p.ID == item.TypesofСomponent_ID).NameTypesofComponents
                        }
                        catch
                        {
                            <p>нет</p>
                        }
                    }
                </td>
            </tr>
        }


    </tbody>
</table>
